
# This is a basic workflow to help you get started with Actions

name: test-jp-app-DEV

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v3
        name: Use Node.js ${{ matrix.node-version }}
      - uses: actions/setup-node@v1
        with: 
         node-version: ${{ matrix.node-version }}
      - run: yarn install
      - run: yarn build
      
      - uses: burnett01/rsync-deployments@4.0
        name: next sync
        with:
          switches: -avzr --exclude=".git" --include="./node_nodules/" --include="./public/" --include="*.json"=""
          path: /
          remote_path: /root/home/DEV/nextjs-jpsblog
          remote_host: 137.184.182.231
          remote_port: 22
          remote_user: ${{ secrets.USERNAME }}
          remote_key: ${{ secrets.PRIVATEKEY }}
      
      
      
      
      
      
